@import "tailwindcss";

* {
    box-sizing: border-box;
}

body {
    @apply text-emerald-900 font-sans;
}

#about {
    background: url("hero2.svg") no-repeat;
    background-position: bottom;
    background-size: auto;
    width: 100%;
}

.stack-icons svg {
    font-size: 100px;
}

.flex-row {
    @apply flex justify-between items-center;
}

.nav-link {
    @apply text-lg;
}

.nav-active {
    @apply text-emerald-900  text-2xl;
}

section {
    height: 100vh;
}
