@import "tailwindcss";

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

#about {
    background: url("./assets/profile3.png") no-repeat center;
    background-size: auto;
    width: 100%;
}

.flex-row {
    @apply flex justify-between items-center;
}

.nav-active {
    @apply text-emerald-900  text-xl;
}

section {
    height: 100vh;
}
