@import "tailwindcss";

/* body {
    @apply text-emerald-900 font-sans;
} */
#about {
    background: no-repeat;
    background-position: bottom;
    background-size: auto;
    width: 100%;
}

.stack-icons svg {
    /* @apply text-[50px]; */
}

.flex-row {
    @apply flex justify-between items-center;
}

.nav-link {
    @apply text-lg;
}

.nav-active {
    @apply text-emerald-900  text-2xl;
}

section {
    @apply h-[100dvh] pt-[12dvh];
}
