@import "tailwindcss";

body {
    @apply text-emerald-900 font-sans;
}

#about {
    background: url("./assets/profile4.png") no-repeat center;
    background-size: auto;
    width: 100%;
}

.flex-row {
    @apply flex justify-between items-center;
}

.nav-link {
    @apply text-lg;
}

.nav-active {
    @apply text-emerald-900  text-2xl;
}

section {
    height: 100vh;
}
