@import "tailwindcss";

/* body {
    @apply text-emerald-900 font-sans;
} */
#about {
    background: no-repeat;
    background-position: bottom;
    background-size: auto;
    width: 100%;
}

.stack-icons svg {
    /* @apply text-[50px]; */
}

.flex-row {
    @apply flex justify-between items-center;
}

.nav-link svg {
    @apply text-lg;
}

.nav-link span {
    @apply font-bold;
}

.nav-active svg {
    @apply text-emerald-900  text-2xl;
}

.nav-active span {
    @apply text-emerald-900 border-b-2 border-emerald-900;
}

section {
    @apply h-[100vh] pt-[12dvh];
}

@media screen and (min-width: 768px) {
    section:not(.about) {
        @apply md:px-25;
    }
}
